#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: row;
  place-items: center;
  font-size: 2em;
}

.count {
  padding: 1rem 2rem;
  height: auto;
}
