#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid antiquewhite;
  padding: 2em;
  margin: 2em;
}

.container button {
  margin: 0 1em;
}
